<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ;charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0",minimum-scale="1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
    <title>Home - Admin Shop</title>
</head>
<body>
    <div class="container-fluid">
        <div>
            <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                <input type="submit" />
            </form>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                            <a class="nav-link" th:href="@{/usermanager}">Users</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                            <a class="nav-link" th:href="@{/categoriesmanager}">Categories</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                            <a class="nav-link" th:href="@{/brands}">Brands</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor','Sale','Shipper')">
                            <a class="nav-link" th:href="@{/product}">Product</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Assistant')">
                            <a class="nav-link" th:href="@{/question}">Question</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Assistant')">
                            <a class="nav-link" th:href="@{/review}">Reviews</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Sale')">
                            <a class="nav-link" th:href="@{/customer}">Customer</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Sale')">
                            <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Sale')">
                            <a class="nav-link" th:href="@{/sale}">Sale Report</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Sale','Shipper')">
                            <a class="nav-link" th:href="@{/order}">Orders</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                            <a class="nav-link" th:href="@{/articale}">Articles</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                            <a class="nav-link" th:href="@{/menu}">Menus</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin')">
                            <a class="nav-link" th:href="@{/setting}">Settings</a>
                        </li>
                        <li>
                            <span class="far fa-user-circle fa-2x"></span>
                        </li>
                        <li class="nav-item dropdown">
                            <sec:authorize access="isAuthenticated()">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authentication="principal.fullName"></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" th:href="@{/account}">Account</a>
                                    <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                                </div>
                            </sec:authorize>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>

        <br>
        <br>
            <div>
                <h1 class="text-center">CREATE NEW PRODUCT</h1>
            </div>
        <br>
        <br>
        <form th:action="@{/product/saveProduct}" method="post" th:object="${product}" onsubmit="return checkName(this);"
        enctype="multipart/form-data">
            
            <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#overview" role="tab" >Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#description" role="tab" >Description</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="message-tab" data-toggle="tab" href="#images" role="tab" >Images</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="setting-tab" data-toggle="tab" href="#details" role="tab">Details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="setting-tab" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
                      </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active p-3" id="overview" role="tabpanel" aria-labelledby="home-tab">
                    <div th:replace="product/product_overview :: content"></div>
                </div>
                <div class="tab-pane p-3" id="description" role="tabpanel" aria-labelledby="profile-tab">
                    <div th:replace="product/product_description :: content"></div>
                </div>
                <div class="tab-pane p-3" id="images" role="tabpanel" aria-labelledby="messages-tab">
                    <div th:replace="product/product_images :: content"></div>
                </div>
                <div class="tab-pane p-3" id="details" role="tabpanel" aria-labelledby="settings-tab">
                    <div>
                        <input type="button" class="btn btn-secondary" value="Add more details" onclick="addNextDetailSection()"/>
                    </div>
                    <div th:replace="product/product_details :: content"></div>
                </div>
                <div class="tab-pane p-3" id="shipping" role="tabpanel" aria-labelledby="settings-tab">
                    <div th:replace="product/product_shipping :: content"></div>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary">
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
            </div>
        </form>

        <div class="modal fade text-center" id="modalDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Warning</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span id="modalBody"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

<script type="text/javascript">
    moduleURL="[[@{/products}]]";
    brandsmoduleURL="[[@{/brands}]]";
    defaultImageThumbnailSrc= "[[@{/images/thumbCate.png}]]";

    function checkName(form){
        url ="[[@{/product/checkUniqueNew}]]";

        nameProduct =$("#name").val();
        csrfValue =$("input[name='_csrf']").val();
        // params={id:userId, email: userEmail, _csrf: csrfValue};
        params={ name: nameProduct, _csrf: csrfValue};

        $("#modalDialog").modal();

        $.post(url,params,function (response){
        if(response == "OK"){
            form.submit();
        }else if(response =="Duplicated"){
            showModalDiaglog("Warning", "There is another product having the name");
        }else{
                showModalDiaglog("Error", "Unknown response from server         ");
           }
        }).fail(function(){
                showModalDiaglog("Error","Could not connect to the server");
        });
        return false;
    }

    function showModalDiaglog(title,message){
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal();
    }

</script>
<script th:src="@{/js/product_form_overview.js}"></script>
<script th:src="@{/js/product_form_images.js}"></script>
<script th:src="@{/js/product_form_details.js}"></script>
</body>
</html>