<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html" ;charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0",minimum-scale="1.0">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">-->
    <!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
    <!--          rel="stylesheet">-->
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!--    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"-->
    <!--          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>-->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">-->

    <link rel="stylesheet" type="text/css"th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:href="@{/webjars/jquery/jquery.min.js}"></script>
    <title>Create User</title>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                        <a class="nav-link" th:href="@{/usermanager}">Users</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <a class="nav-link" th:href="@{/categoriesmanager}">Categories</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor','Sale','Shipper')">
                        <a class="nav-link" th:href="@{/product}">Product</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Assistant')">
                        <a class="nav-link" th:href="@{/question}">Question</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Assistant')">
                        <a class="nav-link" th:href="@{/review}">Reviews</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Sale')">
                        <a class="nav-link" th:href="@{/customer}">Customer</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Sale')">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Sale')">
                        <a class="nav-link" th:href="@{/sale}">Sale Report</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Sale','Shipper')">
                        <a class="nav-link" th:href="@{/order}">Orders</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <a class="nav-link" th:href="@{/articale}">Articles</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <a class="nav-link" th:href="@{/menu}">Menus</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin')">
                        <a class="nav-link" th:href="@{/setting}">Settings</a>
                    </li>
                    <li>
                        <span class="far fa-user-circle fa-2x"></span>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authentication="principal.fullName"></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{/account}">Account</a>
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>
                </ul>

            </div>

        </nav>
    </div>


    <br>
    <br>
    <div>
        <h1 class="text-center">CREATE NEW USER</h1>
    </div>

    <br>
    <br>


    <form th:action="@{/usermanager/saveUser}" method="post" style="max-width: 700px; margin: 0 auto"
          th:object="${user}" onsubmit="return checkEmailUnique(this);" enctype="multipart/form-data">
        <div class="border border-secondary rounded p-3">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Photos: </label>
                <div class="col-sm-8">
                    <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2"/>
                    <img id="thumbnail" alt="Photo Preview" th:src="@{/images/thumbnail.png}" class="img-fluid" style="border-radius: 50%" width="100px" height="100px">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{firstName}" required minlength="3">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{lastName}" required minlength="3">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" th:field="*{email}" required minlength="3" maxlength="100">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" th:field="*{password}" required minlength="5">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{phoneNumber}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Roles:</label>
                <div class="col-sm-8">
                    <th:block th:each="role: ${roles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.nameRole}"
                               th:value="${role.roleId}"
                               class="m-2"
                        />
                        -<small>[[${role.description}]]</small>
                        </br>
                    </th:block>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled: </label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}"/>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary">
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
            </div>

        </div>

    </form>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>

</body>


<script type="text/javascript">
    $(document).ready(function(){
        $("#buttonCancel").on("click",function(){
            window.location ="[[@{/usermanager}]]";
        });

        $("#fileImage").change(function (){
            fileSize=this.files[0].size;
            if(fileSize > 1048576){
                this.setCustomValidity("You must choose an image less than 1MB");
                this.reportValidity();
            }else{
                this.setCustomValidity("");
                showImageThumbnail(this);
            }

        });
    });

    function showImageThumbnail(fileInput){
        var file= fileInput.files[0];
        var reader=new FileReader();
        reader.onload =function (e){
            $("#thumbnail").attr("src",e.target.result);
        };

        reader.readAsDataURL(file);
    }

    function checkEmailUnique(form){
        url ="[[@{/usermanager/checkEmail}]]";

        userEmail =$("#email").val();
        csrfValue =$("input[name='_csrf']").val();
        // params={id:userId, email: userEmail, _csrf: csrfValue};
        params={ email: userEmail, _csrf: csrfValue};

        $("#modalDialog").modal();

        $.post(url,params,function (response){
           if(response == "OK"){
               form.submit();
           }else if(response =="Duplicated"){
               showModalDiaglog("Warning", "There is another user having the email " +userEmail);
           }else{
                showModalDiaglog("Error", "Unknown response from server         ");
           }
        }).fail(function(){
                showModalDiaglog("Error","Could not connect to the server");
        });

        return false;
    }

    function showModalDiaglog(title,message){
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal();
    }

</script>
</html>